@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world devops demo  on 2 june working !</h1>

Welcome to your new app devops demo on 2 june working.

<SurveyPrompt Title="How is Blazor working for you devops demo on 2 june working?" />
